<%= render "shared/header" %>
<div class="item-show">
<div class="user-page">
  <div class="user-contents">
    <p class="user-name"><%= @user.nickname %></p>
    <% if current_user != @user %>
      <% if @user.followed_by?(current_user) %>
        <%=link_to "フォロー中", user_relationships_path(@user.id),class: "btn" , method: :delete %>
      <% else %>
        <%=link_to "フォローする", user_relationships_path(@user.id),class: "btn" ,method: :post %>
      <% end %>
    <% end %>
    <div class="followfollower">
      <div class=follow id="follow">フォロー
        <ul class="follow-lists hidden" id="follow-pull-down">
          <% @user.followings.each do |user| %>
            <li class=“f-user”><%= link_to user.nickname, user_path(user.id) %></li>
          <% end %>
         </ul>
      </div>
      <div class=follow id="follower">フォロワー
        <ul class="follower-lists hidden" id="follower-pull-down">
          <% @user.followers.each do |user| %>        
            <li class=“f-user”><%= link_to user.nickname, user_path(user.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

  <ul class='user-item-lists'>
    <% @items.each do |item| %>
        <%= link_to item_path(item.id) do%>
        <li class='list'>
        <div class='item-img-content'>
          <%= image_tag item.image, class: 'item-img'  %>
          <% if item.order.presence %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.postage.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>